/* Formatação Cabeçalho */
.cabecalho-container {
    display: flex;
    flex-direction: row;
    padding: 15px 48px;
}

#logo-header {
    padding-right: 20px;
}

.menu {
    display: flex;
    padding-top: 5px;
    padding-left: 10px;

}

.menu a {
    padding-right: 30px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
}

/* Formatação Corpo */

body {
    margin: 0px;
}

/* Seção 01 */

.container-tenho-interesse {
    height: 600px;
    background-color: rgb(130, 10, 209);
}

.container-texto-tenho-interesse {
    position: absolute;
    top: 50%;
    padding: 0px 50px;
}

.texto-tenho-interesse h1 {
    margin-top: 0px;
    margin-bottom: 16px;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    font-family: Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.texto-tenho-interesse h2 {
    margin-top: 0px;
    color: white;
    font-size: 1.5em;
    font-family: Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 500;
}

/* Seção 02 */

.container-cc {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-texto-cc {

    padding: 64px 64px;
}

.texto-cc a {
    text-decoration: none;
    cursor: pointer;
}

.texto-cc a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(130, 10, 209);
}

.texto-cc h2 {
    color: rgb(130, 10, 209);
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: none;
}

.texto-cc p {
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 0px;
}

.link-saiba-mais-cc {
    color: rgb(130, 10, 209);
    font-size: 20px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

