/* Formatação Cabeçalho */
.cabecalho-container {
    display: flex;
    flex-direction: row;
    padding: 15px 48px;
}

#logo-header {
    padding-right: 20px;
}

.menu {
    display: flex;
    padding-top: 5px;
    padding-left: 10px;

}

.menu a {
    padding-right: 30px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
}

/* Formatação Corpo */

body {
    margin: 0px;
}

/* Seção 01 - Tenho interesse */

.container-tenho-interesse {
    height: 600px;
    background-color: rgb(130, 10, 209);
}

.container-texto-tenho-interesse {
    position: absolute;
    top: 50%;
    padding: 0px 50px;
}

.texto-tenho-interesse h1 {
    margin-top: 0px;
    margin-bottom: 16px;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    font-family: Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.texto-tenho-interesse h2 {
    margin-top: 0px;
    color: white;
    font-size: 1.5em;
    font-family: Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 500;
}

/* Seção 02 - Cartão de Crédito*/

.container-cc {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-texto {
    padding: 64px 64px;
}

.texto-secao-roxo a {
    text-decoration: none;
    cursor: pointer;
}

.texto-secao-roxo a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(130, 10, 209);
}

.texto-secao-roxo h2 {
    color: rgb(130, 10, 209);
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: none;
}

.texto-secao-roxo p {
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 0px;
}

.link-saiba-mais-roxo {
    color: rgb(130, 10, 209);
    font-size: 18px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* Setor 03 - Nubank Ultravioleta*/

.container-ultravioleta {
    height: 500px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Setor 04 - Conta do Nubank */

.container-conta {
    height: 500px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    align-items: center;   
}

/* Setor 05 - Visão */

.texto-secao-branco p {
    color: white;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin: 0px 0px 48px;
    text-decoration: none;
}

.link-saiba-mais-branco {
    color: white;
    font-size: 18px;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container-visao {
    background-color: rgb(130, 10, 209);
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-secao-branco a {
    text-decoration: none;
    cursor: pointer;
}

.texto-secao-branco a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

/* Setor 06 - Comunidade */

.container-comunidade {
    background-color: rgb(130, 10, 209);
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-secao-branco h3 {
    color: white;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 0px;
    text-decoration: none;    
}

/* Setor 07 - Informação */

.container-informacao {
    background-color: rgb(130, 10, 209);
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;   
}